/*
  Journal - Advanced Opencart Theme Framework
  Version 2.4.5
  Copyright (c) 2014 Digital Atelier
  http://journal.digital-atelier.com/
*/
/******************************
 FOOTER
*******************************/
#footer {
  border: 0;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  display: table;
  width: 100%; }

.fullwidth-footer {
  max-width: 100%; }
  .fullwidth-footer #footer {
    overflow: visible;
    border-radius: 0; }
  .fullwidth-footer .columns {
    padding-left: 1px;
padding-bottom: 10px;	}
  .fullwidth-footer .bottom-footer {
    max-width: 100%;
    padding: 0; }

.boxed-footer {
  background-color: transparent; }

footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  clear: both;
  display: table;
  z-index: 9; }
  footer .columns {
    padding-left: 15px;
    overflow: hidden; }
  footer .column {
    padding: 0px 25px 0px 0;
    position: relative; }
    footer .column.newsletter {
      padding-right: 15px; }
    footer .column > h3 {
      color: #E4E4E4;
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: 1px solid #5F6874;
      padding-bottom: 10px;
      margin-top: 12px; }
    footer .column.no-title .column-text-wrap {
      margin-top: 15px; }
  footer .column-menu-wrap > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 6px; }
    footer .column-menu-wrap > ul li {
      padding: 3px 0;
      color: #E4E4E4; }
      footer .column-menu-wrap > ul li i {
        margin-right: 6px !important; }
        footer .column-menu-wrap > ul li i:before {
          margin-top: -1px; }
    footer .column-menu-wrap > ul a {
      display: block;
      color: inherit;
      transition: color .2s; }
  footer .column-text-wrap {
    color: #E4E4E4;
    height: 100%; }
    footer .column-text-wrap a {
      transition: color 0.2s; }
    footer .column-text-wrap > ul {
      padding-left: 15px;
      margin: 0 0 7px 0; }
    footer .column-text-wrap > ol {
      padding-left: 20px;
      margin: 0 0 7px 0; }
    footer .column-text-wrap p {
      color: inherit;
      margin: 0;
      overflow: hidden;
      line-height: 100%; }
      footer .column-text-wrap p span, footer .column-text-wrap p strong {
        line-height: 100% !important; }
      footer .column-text-wrap p iframe {
        width: 100%; }
    footer .column-text-wrap img {
      max-width: 100%;
      height: auto !important; }
  footer .text > h3 {
    margin-bottom: 12px; }
  footer .columns + .contacts {
    margin-top: 15px; }
  footer .contacts {
    position: relative;
    clear: both;
    display: table;
    width: 100%;
    padding: 10px; }
    footer .contacts > div > span {
      color: white;
      margin-right: 4px; }
    footer .contacts i {
      font-size: 20px;
      color: inherit;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      margin-right: 0 !important;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      line-height: 39px;
      transition: background-color .2s; }
    footer .contacts a {
      color: inherit; }
    footer .contacts a:hover i {
      color: inherit; }
    footer .contacts [data-hint]:before, footer .contacts [data-hint]:after {
      display: block; }
    footer .contacts .hint--top:before {
      margin-left: -10px; }
    footer .contacts .hint--top:after,
    footer .contacts .hint--top:focus:after {
      -webkit-transform: translate3d(0, 0, 0) translateX(-54%);
      -moz-transform: translate3d(0, 0, 0) translateX(-50%);
      -ms-transform: translate3d(0, 0, 0) translateX(-50%);
      transform: translate3d(0, 0, 0) translateX(-54%); }
    footer .contacts .hint--top:hover:after,
    footer .contacts .hint--top:focus:after {
      -webkit-transform: translate3d(0, 0, 0) translateY(-8px) translateX(-54%);
      -moz-transform: translate3d(0, 0, 0) translateY(-8px) translateX(-54%);
      -ms-transform: translate3d(0, 0, 0) translateY(-8px) translateX(-54%);
      transform: translate3d(0, 0, 0) translateY(-8px) translateX(-54%); }
    footer .contacts .hint--top .contacts-text {
      margin-left: 0; }
  footer .contacts-text {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color: inherit;
    line-height: 36px;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: 2px; }
  footer .contacts-center {
    margin: 0 auto;
    position: absolute;
    clear: both;
    width: 100%;
    top: 10px;
    right: 10px;
    z-index: 0; }
  footer .contacts-left {
    position: relative;
    float: left;
    z-index: 1; }
  footer .contacts-right {
    position: relative;
    float: right;
    z-index: 1; }

.column.newsletter .box {
  margin-top: 15px;
  margin-bottom: 0; }

.column.products {
  padding-bottom: 12px; }
  .column.products > h3 {
    margin-bottom: 12px; }
  .column.products .product-wrapper {
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    transition: all 0.2s; }
    .column.products .product-wrapper .p-over {
      display: none; }
  .column.products .product-wrapper:hover {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none; }
  .column.products .product-details {
    background-color: transparent;
    padding-bottom: 0;
    float: left;
    max-width: 150px;
    padding-left: 8px; }
  .column.products .product-details:before {
    content: ""; }
  .column.products .product-grid-item {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    text-align: left;
    padding: 5px 0; }
    .column.products .product-grid-item .quickview-button {
      display: none !important; }
    .column.products .product-grid-item:first-of-type {
      padding-top: 2px; }
    .column.products .product-grid-item .image {
      display: block;
      float: left;
      position: relative;
      width: auto; }
      .column.products .product-grid-item .image span {
        display: none !important; }
      .column.products .product-grid-item .image a {
        background: transparent !important;
        margin-top: 1px;
        line-height: 100%;
        border-radius: 0;
        border: none; }
      .column.products .product-grid-item .image img {
        border: 0;
        display: block;
        padding: 0;
        max-width: 50px; }
    .column.products .product-grid-item .name {
      position: relative; }
      .column.products .product-grid-item .name a {
        font-size: 12px;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 0 0 1px 0;
        transition: all 0.2s; }
    .column.products .product-grid-item .sale {
      display: none; }
    .column.products .product-grid-item .price {
      display: inline-block;
      font-size: 13px;
      padding: 0;
      text-align: left;
      border: none;
      margin-bottom: 0;
      background-color: transparent;
      border-radius: 0; }
    .column.products .product-grid-item .price-old {
      font-weight: normal;
      color: #EA2E49;
      padding-right: 0;
      text-decoration: line-through;
      font-size: 12px; }
    .column.products .product-grid-item .price-new {
      font-size: 13px; }
    .column.products .product-grid-item .rating {
      position: relative;
      margin: 0;
      left: 0;
      top: 0;
      padding: 0; }
    .column.products .product-grid-item .cart {
      display: none !important; }
    .column.products .product-grid-item .cart input {
      color: white;
      font-family: Helvetica, Arial, sans-serif;
      text-transform: none;
      font-weight: bold; }
  .column.products .product-grid-item:last-of-type {
    border-bottom: none; }

.bottom-footer {
  height: 60px;
  clear: both;
  margin: 0 auto;
  position: relative; }
  .bottom-footer > div {
    max-width: 1024px;
    margin: 0 auto;
    position: relative; }
  .bottom-footer .copyright {
    float: left;
    line-height: 60px; }
  .bottom-footer .payments {
    float: right; }
    .bottom-footer .payments img {
      max-width: 100%;
      height: auto;
      margin-left: 10px;
      position: relative;
      margin-top: 13px;
      max-height: 35px;
      vertical-align: middle; }
  .bottom-footer .no-copyright {
    text-align: center; }
    .bottom-footer .no-copyright .payments {
      float: none; }
  .bottom-footer .no-payments {
    text-align: center; }
    .bottom-footer .no-payments .copyright {
      float: none; }
  .bottom-footer.boxed-bar {
    padding: 0 15px; }

.column-text-wrap .block-icon-left + p {
  display: inline; }

footer .column.text {
  min-height: 50px; }

/******************************
OC 2.0
*******************************/
